{% extends 'base.html' %}
{% comment %} 우선순위 짱 높음 {% endcomment %}

{% block contents %}
<body>
        <div class="container">
            <h1>NEW Page</h1>
            <form action="{% url 'create' %}">
                <h4>제목: </h4>
                <input type='text' name='title'>
                <br>
                <br>
                <h4>본문: </h4>
                <textarea cols=40 rows=10 name='body'></textarea>
                <br>
                <br>
                <input class='btn btn-dark' type='submit' value='제출하기'>
            </form>
        </div>
    </body>
{% endblock  %}
